<!DOCTYPE html>

<html>
    <head>
        <title>
          {{title}}
        </title>
            <link rel="icon" href="/img/img.png">
            <link rel="stylesheet" href="./css/home_style.css"> 
             <meta charset="utf-8">
             <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
            
    </head>

    <body>
       

         <div class="home">


             <div class="home_image">

             </div>


              <p class="head_slogan">HURRY!!</p>
              <p class="slogan">HUNGER DON'T WAIT</p>



         </div>

            

            <div class="menu">

                 <button class="button b1" onclick="register()">REGISTER</button>
                  <button class="button b2 " onclick="cwl()">Continue Without Login</button>
                   <button class="button b3" onclick="login()">Already a Member ? <font color="#e48508" style="font-weight: bolder;">  LOGIN</font></button>

            </div>
            

           <script>
               function register() {
                  location.href = "/register";
                }

                function login() {
                  location.href = "/login";
                }

           </script>


        
    </body>
</html>