<!DOCTYPE html>

<html>
    <head>
        <title>
          {{title}}
        </title>
            <link rel="icon" href="/img/img.png">
            <link rel="stylesheet" href="./css/register_style.css"> 
             <meta charset="utf-8">
             <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
            
    </head>

    <body>
       

         <div class="home">


             <div class="home_image">

             </div>


         </div>


          <p class="slogan">REGISTER</p>
            

            <div class="menu">

              
                
                  <button class="button b1" onclick="userregister()">USER</button>
                  <button class="button b2" onclick="vendorregister()">VENDOR</button>
                 

            </div>
            
        <div class="toc">
             <p class="termsc">By continuing , You Agree To our Terms of Service and Privacy Policy</p>           
        </div>



         <script>
               function userregister() {
                  location.href = "/register_user";
                }
                function vendorregister() {
                  location.href = "/register_vendor";
                }

           </script>
       

        
    </body>
</html>